@import "assets/styles/variables";

.datepicker {
  @extend %flex;
  border-radius: 100px;
  box-shadow: $base-shadow;
  padding: 13px 5px;

  i {
    color: $grey-blue50;
    font-size: 24px;
  }

  :global(.icon-arrow-down) {
    display: inline-block;

    &:first-of-type {
      transform: rotate(90deg);
    }

    &:last-of-type {
      transform: rotate(-90deg);
    }
  }
}
