@import "components/trackTable/trackTable.module";
* {
  font-family: $regular-font;
  font-size: $base-font-size;
}
.customers {
  display: flex;
  margin: 30px auto;

  .info {
    background: $white;
    padding: 20px;
    border-radius: $base-radius;

    p {
      color: $black;
      font-size: 14px;
      font-weight: 500;
      line-height: $base-line-height;
      margin: 7px 0;
      font-family: $medium-font;
    }

    input {
      box-shadow: none;
      border: 1px solid $grey-blue50;
    }
  }
  .frame {
    @extend %flex-between;
    padding: 23px 0 36px;
    border-bottom: 2px solid rgba(93, 103, 160, 0.1);

    button {
      color: $white;
      border-radius: $base-radius;
      border-style: none;
      background: #f2994a;
      padding: 3px 46px;
      line-height: $base-line-height;
      margin-right: 20px;
    }

    .avatar {
      position: relative;
      width: 60px;
      height: 60px;
      margin-right: 32px;
      border-radius: 50%;
      background: $grey-blue50;

    }

    .status {
      @extend %flex-center;
      align-items: start;
      flex-direction: column;

      p {
        line-height: 14px;

        &:last-child {
          font-family: $regular-font;
        }
      }
    }

    .formuser {
      display: flex;

    }
  }
  .phone_mail {
    @extend %flex;
    align-items:start;


    .phone_mail_item {
      min-width: 200px;


      :first-child {
        padding-right: 53px;

      }
    }
  }
  .customers_dropdown {
    max-width: 200px;
    margin: 0;
  }
  .added_info {
    @extend %flex;

    button {
      border: none;
      background: transparent;
      font-size: 24px;
      color: $grey-blue;
    }
  }
  .wrapper {
    margin: 10px 0;
  }
  .project_contact {
    @extend %flex-between;

    .dropdown {
      margin:0;
    }
  }
  .save_customers {
    display: flex;
    justify-content: flex-end;
  }
}



