@import "components/trackTable/trackTable.module";

.employer {
  background: $white;
  border-radius: $base-radius;
  padding: 20px;
  flex: 1 0 746px;
  box-shadow: $base-shadow;

  .info {
    @extend %flex;
    padding: 22px 0;
    border-bottom: 2px solid $grey-blue10;
    margin-bottom: 20px;

    .avatar {
      position: relative;
      width: 60px;
      height: 60px;
      margin-right: 32px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: $grey-blue50;
      }

      &.online {
        &:after {
          position: absolute;
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          left: 100%;
          top: 0;
          background-color: $success;

          content: '';
        }
      }
    }

    .status {

      p {
        line-height: 14px;

        &:first-child {
          font-family: $medium-font;
        }
      }
    }

    .controls {
      margin-left: auto;

      :global(.button):last-of-type {
        margin-left: 20px;
      }
    }
  }
}

.editForm {

  .group {
    @extend %flex-between;

    .groupItem {
      margin: 0;
      max-width: 200px;
      width: 100%;
    }
  }

  .footer {
    @extend %flex;

    button {
      margin-right: 10px;

      &:last-child {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}
